<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AttendanceApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AttendanceApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="p-3">
        <div class="header bg-white p-3">
            <a class="navbar-brand text-black" asp-area="" asp-controller="Account" asp-action="Index">AttendanceApplication</a>
        </div>

        <div class="container-fluid p-3">
            <div class="body row">
                <!-- Side Bar -->
                <div class="side-bar col-sm-3 col-lg-2">
                    <nav class="navbar navbar-expand-sm navbar-light bg-white border-right flex-column justify-content-start">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-house"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Attendance" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-calendar"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Attendance</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-envelope-paper"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Leave Apply</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-heart-pulse"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Health Care</a>
                                </li>
                                <li class="nav-item d-inline-flex">
                                    <i class="bi bi-box-arrow-left"></i>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!-- Page Content -->
                <div class="main-content container col-sm-9 col-lg-10 bg-white p-4">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - fullstack_project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
