body {
    background-color: var(--lightSteel);
}

.side-bar, .header {
    display: none;
}

.main-content {
    background: var(--lightSteel) !important;
}

.login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 1;
}

    .login > input {
        display: block;
        border-radius: 5px;
        font-size: 16px;
        width: 100%;
        border: 10px;
        padding: 10px 10px;
        margin: 15px -2px;
        background-color: aliceblue;
    }

    .login > button {
        cursor: pointer;
        font-size: 16px;
        text-transform: uppercase;
        width: 350px;
        border: 0;
        padding: 10px 0;
        margin-top: 10px;
        margin-left: -5px;
        border-radius: 5px;
        background-color: var(--lightSteel);
    }
