@model List<fullstack_project.Models.Staff>


<div>   
    <h4>Staff</h4>
    <hr />
    <dl class="row">
    </dl>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>

    <h3>Display all staff name in list</h3>
    @foreach (var staff in Model)
    {
        <p>@staff.ToString()</p> 
    }
</div>
